* {
	margin: 0;
	padding: 0;
}


body {
	width: 960px;
	color: #5D5D5D;
	background: #3A332D;
	margin-left: auto;
	margin-right: auto;
}

.header {
	height: 134px;
	background: #3A332D url(logo.png) no-repeat;
}

.container {
	background: #FFFFFF;
	border-radius:10px;
	padding: 20px;
}

.search-form {
	padding: 20px;
	background: #F4F4EE;
	border-radius:10px;
	text-align: center;
}

input[type="button"]{
	border:1px solid;
	border-radius:5px;
	padding: 5px;
	margin: 5px;
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 2px 5px #888888;
}

input[type="text"]{
	border:1px solid;
	border-radius:5px;
	padding: 5px;
	margin: 5px;
	box-shadow: 2px 2px 5px #888888;
	width: 200px;
}

.result-list {
	margin-top: 30px;

}

.result-list table{
	width: 100%;

	border-radius:30px;
	border-collapse:separate;
}

.result-list th{
	border-bottom: 5px solid;
	background: #F4F4EE;
}

tr.even {
	background: #F4F4EE;
}

table tr:last-child td:first-child {
    border-bottom-left-radius:10px
}

table tr:last-child td:last-child {
    border-bottom-right-radius:10px
}

table th:first-child {
    border-top-left-radius:10px
}

table th:last-child {
    border-top-right-radius:10px
}